extends layout

block content
  .text-right.mb-4
    button.ml-4.btn.btn-sm.btn-success(type='button',onclick=`changeCollection(${method},${collection})`) 
      i.ti-check-box.mr-1    
      ="Kaydet"
    button.ml-4.btn.btn-sm.btn-danger(type='button',onclick=`location.href=backPageUrl`) 
      i.ti-direction.mr-1  
      ="Vazgeç"
  .row
    .col-md-6
      .form-group
        label Yığın Adı
        input.form-control.border-input(type='text',data-name="yığınAdı")
