extends layout

block content
  //h1(style="color:red")= title+"asdsad"
  //p Welcome to #{title}  
  .row
    .col-md-12.card
      .header
        h4.title 
        p.category 
      .content
        each val,index in data
          .col-lg-12.col-sm-12
            .card.a9c555
              .header
                h5=val.design.title
              .content
                .row
                  .col-xs-11
                    !=val.text
                  .col-xs-1
                    .icon-big.icon-info.text-center.pointerNone
                      .btn.btn-sm.btn-info.btn-icon
                        i.fa(class=val.design.icon)

              .footer
                hr
                .stats.pl-5
                  =(val.When).toString()
                if(val.link !="" && val.link !=null)   
                  .float-right.pr-1 
                    a(href=val.link)
                      i.fa.ti-arrow-right
        div(style="text-align: center;margin-top: 40px;font-size: 22px;color: #EB5E28;")              
          hr.simpleHr
          i.fa.ti-crown

